* {
	padding: 0;
	margin: 0;
	border: 0;
	box-sizing: border-box;
}

::selection {
	background-color: #707070;
}


*,
*:before,
*:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

:focus,
:active {
	outline: none;
}

a:focus,
a:active {
	outline: none;
}

nav,
footer,
header,
aside {
	display: block;
}

html,
body {
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
	font-family: inherit;
}

input::-ms-clear {
	display: none;
}

button {
	cursor: pointer;
}

button::-moz-focus-inner {
	padding: 0;
	border: 0;
}

a,
a:visited {
	text-decoration: none;
}

a:hover {
	text-decoration: none;
}

ul li {
	list-style: none;
}

img {
	vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-size: inherit;
	font-weight: inherit;
}

/*---------------------------*/

/* ===================== fonts ===========================*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,300;1,400;1,500;1,700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400&display=swap');
/*-----------------------------------------*/


body {
	background: #1B1B1B;
	font-family: "Montserrat", sans-serif;
}

.header {
	overflow: hidden;
	padding: 10px 40px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	font-family: "Montserrat", sans-serif;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.45);
}

.header__logo--link {
	color: #fff;
	transition: all .2s ease;


	&:hover {
		color: rgb(1, 177, 255);
	}

}

.header__logo {
	display: flex;
	align-items: center;
	font-size: 40px;
	font-weight: bold;
	font-family: 'Lobster', cursive;
	padding: 0 0 0 40px;
}

.header__logo-name {
	position: relative;
}

.img__logo {
	position: absolute;
	top: 20px;
	left: 25px;
	display: flex;
	width: 45px;
	height: 45px;
	margin: 0px 5px 0 0;
}

.header__nav {
	justify-items: center;
}

.header__links {
	display: flex;
	font-weight: 500;

}

.header__links-items {
	text-transform: uppercase;

	&:not(:first-child) {
		margin: 0 0 0 20px;
	}
}

.header__link {
	color: #fff;
	transition: all .2s ease;
	display: flex;
	justify-content: space-between;
	padding: 20px 0;
	border-bottom: 3px solid #fff;
	position: relative;

	&:hover {
		color: rgb(1, 177, 255);
		border-bottom: 3px solid rgb(1, 177, 255);
	}

	// сделать позже
	// &::after {
	// 	content: '';
	// 	width: 2px;
	// 	height: 60px;
	// 	display: flex;
	// 	background: #424242;
	// 	position: absolute;
	// 	top: -21px;
	// 	right: -11px;
	// }

	// &::before {
	// 	content: '';
	// 	width: 2px;
	// 	height: 60px;
	// 	display: flex;
	// 	background: #424242;
	// 	position: absolute;
	// 	top: -21px;
	// 	left: -11px;
	// }
}

.header__search {
	border: 1px solid #fff;
}

.header__search {
	border-left: 1px solid #fff;
	border-top: 1px solid #fff;
	border-bottom: 1px solid #fff;
	padding: 4px;
	border-start-start-radius: 10px;
	border-bottom-left-radius: 10px;
	background: #424242;
	color: #fff;
}

.header__search--icon {
	background: rgb(0, 0, 0);
	margin: 0px -10px 0 0;
	padding: 6px;
	border-end-end-radius: 10px;
	border-top-right-radius: 10px;
	border-right: 1px solid #fff;
	border-top: 1px solid #fff;
	border-bottom: 1px solid #fff;
	transition: all 0.2s ease;

	&:hover {
		background: rgb(1, 177, 255);
		color: #fff;
	}
}

.fa-magnifying-glass {
	color: #fff;
}

.nav__search {
	display: flex;
}

/*темная тема
input[type="checkbox"] {
	-webkit-appearance: none;
	visibility: hidden;
	display: none;

}

input[type="checkbox"]:checked~.header__dark-mode--check {
	background: #fff;
	box-shadow: 0 0 0 12000px #181818;
	position: relative;
	z-index: -01;
}

.header~input[type="checkbox"]:checked~.header__dark-mode--check {
	color: #fff;
}

.header__dark-mode--check {
	position: relative;
	z-index: -01;
	display: block;
	width: 40px;
	height: 20px;
	background: #181818;
	cursor: pointer;
	border-radius: 20px;
	overflow: hidden;
	transition: all 0.2s ease-in;
}

*/


// clock
#timeBar {
	font-family: "Montserrat", sans-serif;
	margin-bottom: 40px;
	padding: 10px 20px;
	font-size: 2em;
	font-weight: 600;
	border-top: 2px solid rgba(0, 0, 0, 0.5);
	box-shadow: 0px 5px 10px rgb(0 0 0 / 50%);
	display: flex;
	justify-content: flex-end;
	z-index: 123;
}

#timeBar div {
	position: relative;
	width: 50px;
	text-align: center;
	font-weight: 500;
	color: var(--clr);
}

#timeBar div:nth-child(1)::after {
	content: ":";
	color: #0073a5;
	position: absolute;
	top: -2px;
	right: -4px;
}

#timeBar div:last-child {
	font-size: 0.5em;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0 0 0 -10px;
}

#timeBar div:nth-child(1)::after {
	animation: animate 1s steps(1) infinite;
}

@keyframes animate {
	0% {
		opacity: 1;
	}

	50% {
		opacity: 0;
	}
}

.title__news {
	text-transform: uppercase;
	font-size: 30px;
	color: #01b1ff;
	justify-content: flex-start;
	position: absolute;
	padding: 12px 0 0 0;
	left: 20px;
	font-family: 'Roboto', sans-serif;
	letter-spacing: 0em;
}

.link__news {
	color: #01b1ff;
	z-index: 23;
}

.section__clock {
	position: sticky;
	top: 0px;
	z-index: 123;
	background: #1B1B1B
}

// search scrol

body:not([no-y-overflow])::-webkit-scrollbar-thumb {
	height: 56px;
	border-radius: 8px;
	border: 4px solid transparent;
	background-clip: content-box;
	background-color: hsl(0, 0%, 67%);

	&:hover {
		background-color: hsl(0, 0%, 37%);
	}
}

body::-webkit-scrollbar {
	width: 16px;
}

// main page

.container {
	display: grid;
	grid-template: 100%/1fr 3fr;
	width: 100%;
	max-width: 1200px;
	margin: 0 auto;
	padding: 0px 15px;
	column-gap: 10px;
}

.section__news {}

.column__news {}

.column__main {}


.img__main-event {
	width: 100%;
	height: 200px;
}

.news__main-event {
	position: relative;
}

.news__main-link-visit {
	font-family: 'Roboto', sans-serif;
	font-size: 24px;
	position: absolute;
	top: 92%;
	left: 0%;
	align-self: center;
	color: #fff;
	z-index: 1;
	border: 3px solid #0073a5;
	background: #0073a5;
	width: 100%;
	text-align: center;
	transition: all .2s ease;
	margin: 0 0 100px 0;

	&:hover {
		color: #0073a5;
		background: rgb(203, 203, 203);
		border: 3px solid rgb(203, 203, 203);
		padding: 2px 0;
		text-align: center;
		border-bottom-right-radius: 5px;
		border-bottom-left-radius: 5px;
		transform: translate3d(0px, 10px, 10px);
	}
}

.news__main-link-visit--live {
	position: absolute;
	top: 5px;
	right: 5px;
	color: #fff;
	font-weight: 500;
	font-size: 16px;
	background: #910000;
	padding: 8px;
	border-radius: 5px;
	box-shadow: 0px 2px 15px #1B1B1B;
	animation: animate1 5s steps(1) infinite;
	transition: all 500ms ease;
}

@keyframes animate1 {
	0% {
		visibility: visible;
	}

	70% {
		visibility: hidden;

	}
}

.news__main-link-visit--tornament {
	position: absolute;
	top: 65%;
	left: 0%;
	color: #fff;
	font-weight: 600;
	font-size: 24px;
	font-family: 'Roboto', sans-serif;
	align-self: center;
	z-index: 1;
	width: 100%;
	text-align: center;
}

.news__main-link-visit--tornament:hover~.news__main-link-visit {
	color: #0073a5;
	background: rgb(203, 203, 203);
	border: 3px solid rgb(203, 203, 203);
	padding: 2px 0;
	text-align: center;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
	transform: translate3d(0px, 10px, 10px);
}

.news__main-link-visit--live:hover~.news__main-link-visit {
	color: #0073a5;
	background: rgb(203, 203, 203);
	border: 3px solid rgb(203, 203, 203);
	padding: 2px 0;
	text-align: center;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
	transform: translate3d(0px, 10px, 10px);
}

.main-event__ilnk:hover~.news__main-link-visit {
	color: #0073a5;
	background: rgb(203, 203, 203);
	border: 3px solid rgb(203, 203, 203);
	padding: 2px 0;
	text-align: center;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
	transform: translate3d(0px, 10px, 10px);
}

// news main page for info

.header__news--title {
	margin: 50px 0 50px 0;
}

.header__news--title {
	color: #fff;
	font-size: 34px;
	font-family: "Montserrat", sans-serif;
	text-transform: uppercase;
	text-align: center;
	text-decoration: underline;

}

.today__news {
	margin: 45px 0 0 0;

	&:not(:first-child) {
		margin: 30px 0 0 0;
	}

}

.today__news--link {
	color: #fff;
	opacity: .75;


}

.today__title {
	color: #fff;
	font-family: "Montserrat", sans-serif;
	text-transform: capitalize;
	font-size: 16px;
	margin: 0px 0 15px 0;
	opacity: .75;
}

.news__info {
	margin: 5px 0 0 0;
	display: flex;
	align-items: center;
	padding: 6px 10px;
	justify-content: space-between;
	background: #424242;
	border-radius: 5px;


	&:hover {
		background: #626262;
	}

}

.news__info--last-child {
	margin: 20px 0 0 0;
	align-items: center;
	text-align: center;
	justify-content: center;

	.new__info--title {
		padding: 0;
	}
}

.news__info-img {
	width: 40px;
	height: 40px;
}

.new__info--title {
	color: #fff;
	font-family: "Montserrat", sans-serif;
	text-transform: capitalize;
	font-size: 20px;
	text-align: left;
	padding: 0 0 0 50px;
}

.new__info--review {
	text-align: right;
}

.new__info--time {}

.new__info--coms {}

.fa-clock {
	margin: 0px 5px 0 0;
}

.fa-comment {
	margin: 3px 5px 0 0;
}

// column 2

.news__mvp {}

.img__mvp--link {}

.img__main-event--active {
	width: 100%;
	height: 280px;
	border-top: 2px solid #0073a5;
	border-left: 2px solid #0073a5;
	border-right: 2px solid #0073a5;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}

.img__mvp--link {
	border: 2px solid #0073a5;

	&:hover~.name__mvp {
		color: #0073a5;
		background: #fff;
		border: 2px solid rgb(203, 203, 203);
		padding: 2px 0;
		text-align: center;
		border-bottom-right-radius: 5px;
		border-bottom-left-radius: 5px;
		transform: translate3d(0px, 10px, 10px);
	}

}



.main-event__ilnk--ative {
	transition: all .2s ease;

	&:hover~.news__main-link-visit {
		color: #0073a5;
		background: rgb(203, 203, 203);
		border: 3px solid rgb(203, 203, 203);
		padding: 2px 0;
		text-align: center;
		border-bottom-right-radius: 5px;
		border-bottom-left-radius: 5px;
		transform: translate3d(0px, 10px, 10px);
	}
}




























// media for header ------------


@media(max-width:1055px) {

	.header__links-items:not(:last-child) {
		&:not(:last-child) {
			margin: 0 0 0 10px;
		}

		&:nth-child(1) {
			margin: 0;
		}
	}

	.header__link {
		&:last-child {
			margin: 0;
		}
	}

	.hightlites {
		position: relative;
	}

	.hightlites::after {
		content: url('../img/more.png');
		position: absolute;
		right: -30px;
		top: 20px;
		width: 20px;
		height: 20px;
		z-index: 1000;
	}

	.teams-players {
		display: none;
	}

	.about {
		display: none;
	}

	.header {
		padding: 10px 20px 10px 40px;
	}

	.img__logo {
		margin: 0 0 0 -5px;
	}

	.header__logo {
		padding: 0px 0 0 90px;
	}
}

@media(max-width:890px) {

	.news {
		margin: 0;
	}

	.players-stats {
		display: none;
	}

	.hightlites {
		display: none;
	}

	.events {
		position: relative;
	}

	.events::after {
		content: url('../img/more.png');
		position: absolute;
		right: -30px;
		top: 20px;
		width: 20px;
		height: 20px;
		z-index: 1000;
	}

	.header {
		width: 100%;
		justify-content: space-between;
	}

	.header__search {
		width: 200px;
	}

	.nav__search {
		margin: 0 30px 0 10px;
	}

	.header__logo--link {
		display: flex;
		justify-self: center;
	}


}

@media(max-width:660px) {
	.header {
		flex-wrap: wrap;
	}

	.title__news {
		font-size: 20px;
		margin: 4px 0 0 0;
	}

	.header__logo--link {
		padding: 0 0px 0 0;
	}

	.news {
		display: none;
	}

	.events {
		display: none;
	}

	.header__search {
		width: 200px;
	}

	.header__logo--link::after {
		content: url('../img/more.png');
		position: absolute;
		right: 10px;
		top: 10px;
		width: 20px;
		height: 20px;
		z-index: 1000;
	}

	.nav__search {
		margin: 0 auto;
	}

	.img__logo {
		position: absolute;
		top: 10px;
		left: 25px;
		display: flex;
		width: 45px;
		height: 45px;
		margin: 0px 5px 0 0;
	}
}

@media(max-width:500px) {
	.img__logo {
		position: absolute;
		top: 10px;
		left: 25px;
		display: flex;
		width: 45px;
		height: 45px;
		margin: 0px 5px 0 0;
	}

	.clock__news {
		font-size: 20px;
		position: inherit;
	}

	.header__logo {
		padding: 0 31px 0 121px;
		margin: 0 auto;

	}

	.header {
		padding: 10px 20px 10px 8px;
		flex-wrap: wrap;
	}

	.nav__search {
		margin: 10px auto 0;
	}

	.header__search {
		width: 250px;
	}

	.header__logo--link {
		margin: 0px 10px 0 -30px;
		padding: 0 35px 0 25px;
	}

	.section__clock {
		display: none;
	}

	#timeBar {
		display: contents;
		overflow: hidden;
		visibility: hidden;
		display: none;
	}

	#hours {
		visibility: hidden;
		display: none;
	}

	#minutes {
		visibility: hidden;
		display: none;
		;
	}

	#ampm {
		visibility: hidden;
		display: none;
	}

	.link__news {
		position: absolute;
		top: 40%;
		left: 50%;
		margin-right: -50%;
		z-index: 1;
	}

}