@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,300;1,400;1,500;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*---------------------------*/
/* ===================== fonts ===========================*/
/*-----------------------------------------*/
body {
  background: #1B1B1B;
}

.header {
  overflow: hidden;
  padding: 10px 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-family: "Montserrat", sans-serif;
  -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.45);
          box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.45);
}

.header__logo--link {
  color: #fff;
  -webkit-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.header__logo--link:hover {
  color: rgb(1, 177, 255);
}

.header__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 40px;
  font-weight: bold;
  font-family: "Lobster", cursive;
  padding: 0 0 0 40px;
}

.header__logo-name {
  position: relative;
}

.img__logo {
  position: absolute;
  top: 20px;
  left: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 45px;
  height: 45px;
  margin: 0px 5px 0 0;
}

.header__nav {
  justify-items: center;
}

.header__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-weight: 500;
}

.header__links-items {
  text-transform: uppercase;
}
.header__links-items:not(:first-child) {
  margin: 0 0 0 20px;
}

.header__link {
  color: #fff;
  -webkit-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 20px 0;
  border-bottom: 3px solid #fff;
  position: relative;
}
.header__link:hover {
  color: rgb(1, 177, 255);
  border-bottom: 3px solid rgb(1, 177, 255);
}

.header__search {
  border: 1px solid #fff;
}

.header__search {
  border-left: 1px solid #fff;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  padding: 4px;
  border-start-start-radius: 10px;
  border-bottom-left-radius: 10px;
  background: #424242;
  color: #fff;
}

.header__search--icon {
  background: rgb(0, 0, 0);
  margin: 0px -10px 0 0;
  padding: 6px;
  border-end-end-radius: 10px;
  border-top-right-radius: 10px;
  border-right: 1px solid #fff;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  -webkit-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.header__search--icon:hover {
  background: rgb(1, 177, 255);
  color: #fff;
}

.fa-magnifying-glass {
  color: #fff;
}

.nav__search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

/*темная тема
input[type="checkbox"] {
	-webkit-appearance: none;
	visibility: hidden;
	display: none;

}

input[type="checkbox"]:checked~.header__dark-mode--check {
	background: #fff;
	box-shadow: 0 0 0 12000px #181818;
	position: relative;
	z-index: -01;
}

.header~input[type="checkbox"]:checked~.header__dark-mode--check {
	color: #fff;
}

.header__dark-mode--check {
	position: relative;
	z-index: -01;
	display: block;
	width: 40px;
	height: 20px;
	background: #181818;
	cursor: pointer;
	border-radius: 20px;
	overflow: hidden;
	transition: all 0.2s ease-in;
}

*/
#timeBar {
  font-family: "Montserrat", sans-serif;
  margin-bottom: 40px;
  padding: 10px 20px;
  font-size: 2em;
  font-weight: 600;
  border-top: 2px solid rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.5);
          box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.5);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

#timeBar div {
  position: relative;
  width: 50px;
  text-align: center;
  font-weight: 500;
  color: var(--clr);
}

#timeBar div:nth-child(1)::after {
  content: ":";
  color: #01b1ff;
  position: absolute;
  top: -2px;
  right: -4px;
}

#timeBar div:last-child {
  font-size: 0.5em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 0 0 -10px;
}

#timeBar div:nth-child(1)::after {
  -webkit-animation: animate 1s steps(1) infinite;
          animation: animate 1s steps(1) infinite;
}

@-webkit-keyframes animate {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

@keyframes animate {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}
.title__news {
  text-transform: uppercase;
  font-size: 30px;
  color: #01b1ff;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  position: absolute;
  padding: 12px 0 0 0;
  left: 20px;
  font-family: "Roboto", sans-serif;
  letter-spacing: 0em;
}

.link__news {
  color: #01b1ff;
}

.section__clock {
  position: sticky;
  top: 0px;
}

body:not([no-y-overflow])::-webkit-scrollbar-thumb {
  height: 56px;
  border-radius: 8px;
  border: 4px solid transparent;
  background-clip: content-box;
  background-color: hsl(0deg, 0%, 67%);
}
body:not([no-y-overflow])::-webkit-scrollbar-thumb:hover {
  background-color: hsl(0deg, 0%, 37%);
}

body::-webkit-scrollbar {
  width: 16px;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0px 15px;
}

@media (max-width: 1055px) {
  .header__links-items:not(:last-child):not(:last-child) {
    margin: 0 0 0 10px;
  }
  .header__links-items:not(:last-child):nth-child(1) {
    margin: 0;
  }

  .header__link:last-child {
    margin: 0;
  }

  .hightlites {
    position: relative;
  }

  .hightlites::after {
    content: url("../img/more.png");
    position: absolute;
    right: -30px;
    top: 20px;
    width: 20px;
    height: 20px;
    z-index: 1000;
  }

  .teams-players {
    display: none;
  }

  .about {
    display: none;
  }

  .header {
    padding: 10px 20px 10px 40px;
  }

  .img__logo {
    margin: 0 0 0 -5px;
  }

  .header__logo {
    padding: 0px 0 0 90px;
  }
}
@media (max-width: 890px) {
  .news {
    margin: 0;
  }

  .players-stats {
    display: none;
  }

  .hightlites {
    display: none;
  }

  .events {
    position: relative;
  }

  .events::after {
    content: url("../img/more.png");
    position: absolute;
    right: -30px;
    top: 20px;
    width: 20px;
    height: 20px;
    z-index: 1000;
  }

  .header {
    width: 100%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }

  .header__search {
    width: 200px;
  }

  .nav__search {
    margin: 0 30px 0 10px;
  }

  .header__logo--link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-grid-column-align: center;
        justify-self: center;
  }
}
@media (max-width: 660px) {
  .header {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .title__news {
    font-size: 20px;
    margin: 4px 0 0 0;
  }

  .header__logo--link {
    padding: 0 0px 0 0;
  }

  .news {
    display: none;
  }

  .events {
    display: none;
  }

  .header__search {
    width: 200px;
  }

  .header__logo--link::after {
    content: url("../img/more.png");
    position: absolute;
    right: 10px;
    top: 10px;
    width: 20px;
    height: 20px;
    z-index: 1000;
  }

  .nav__search {
    margin: 0 auto;
  }

  .img__logo {
    position: absolute;
    top: 10px;
    left: 25px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 45px;
    height: 45px;
    margin: 0px 5px 0 0;
  }
}
@media (max-width: 500px) {
  .img__logo {
    position: absolute;
    top: 10px;
    left: 25px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 45px;
    height: 45px;
    margin: 0px 5px 0 0;
  }

  .clock__news {
    font-size: 20px;
  }

  .header__logo {
    padding: 0 31px 0 121px;
    margin: 0 auto;
  }

  .header {
    padding: 10px 20px 10px 8px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .nav__search {
    margin: 10px auto 0;
  }

  .header__search {
    width: 250px;
  }

  .header__logo--link {
    margin: 0px 10px 0 -30px;
    padding: 0 35px 0 25px;
  }

  .section__clock {
    display: none;
  }

  #timeBar {
    display: contents;
    overflow: hidden;
    visibility: hidden;
    display: none;
  }

  #hours {
    visibility: hidden;
    display: none;
  }

  #minutes {
    visibility: hidden;
    display: none;
  }

  #ampm {
    visibility: hidden;
    display: none;
  }

  .link__news {
    position: absolute;
    top: 40%;
    left: 50%;
    margin-right: -50%;
    z-index: 12311;
  }
}